/* Import */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap');



/* Global */

:root {

  /* Color */
  --color-white: #fff;
  --color-dark-white: #F8F8F8;
  --color-blue : #71BDCE;
  --color-black: #000;
  --color-light-black: #212121;
  --color-gray: #646464;
  --color-dark-gray: #3D3D3D;
  --color-light-gray: #F0F0F0;
  --color-btn-gray: #CECECE;
  --color-btn-letter-gray: #999;
  --color-location-gray: #C8DEDE;


  /* Font Size */
  --font-large: 40px;
  --font-medium: 28px;
  --font-middle: 20px;
  --font-regular-big: 18px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;


  /* Font weight */
  --fweight-black: 900;
  --fweight-extra-bold: 800;
  --fweight-bold: 700;
  --fweight-semi-bold: 600;
  --fweight-medium: 500;
  --fweight-regular: 400;
  --fweight-light: 300;
  --fweight-extra-light: 200;


  /* Size */
  --size-border-radius-40: 40px;
  --size-border-radius-20 : 20px;


  /* Animation */ 
  --animation-duration: 300ms;

}


/* Universal tags */

* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  font-size: var(--font-regular);
}

body {
  margin: 0;
  cursor: default;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  width: fit-content;
}

.inner {
  width: 78%;
  height: inherit;
  margin: 0 auto;
}


/* Typography */

h2.title {
  font-size: var(--font-large);
  font-weight: var(--fweight-semi-bold);
  color: var(--color-light-black);
  margin-bottom: 2.75rem;
}


/* header */

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 30;
}

header.on {
  background-color: var(--color-dark-white);
}

.header_logo {
  background: url(./images/hilton_logo1.png) 0 0 no-repeat;
  background-size: cover;
  width: 7rem;
  height: 3rem;
  margin-top: 1.25rem;
  transition: all 0.2s ease-out;
}

.header_logo.on {
  background: url(./images/hilton_logo2.png) 0 0 no-repeat;
  background-size: cover;
  width: 7rem;
  height: 3rem;
}

.header_simple_menu {
  margin-top: 2rem;
  margin-right: 2rem;
}

.header_simple_menu_btn {
  color: var(--color-white);
  font-weight: var(--fweight-light);
}

.header_simple_menu_btn.on {
  color: var(--color-black);
}

.header_simple_menu_btn:first-child {
  margin-right: 1rem;
}


/* header navigation */

.navigation {
  position: absolute;
  top: 2rem;
  left: 2rem;
  height: 0;
  transition: all .3s;
}

.navigation.on {
  background-color: var(--color-dark-white);
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 2rem;
  padding-left: 2rem;
  transition: all .3s;;
}

.arrange_location {
  margin: 2rem;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
}

.menu-wrap {
  cursor: pointer;
}

.check-menu {
  display: none;
}

.menu-bar {
  display: block;
  width: 2rem;
  height: 2px;
  margin-bottom: 8px;
  background-color: #fff;
  transition: 0.5s;
}
.menu-bar.color-change {
  background-color: var(--color-light-black);
}
.menu-bar.on {
  background-color: var(--color-black);
  
}

.top-bar {
  transform : translate(0, 0.5rem) rotate(-45deg);
}

.middle-bar {
  transform: scale(0);
}

.last-bar {
  transform: translate(0, -0.7rem) rotate(45deg);
}

.navigation_list {
  margin-top: 3rem;
  padding-right: 10rem;
  padding-bottom: 2rem;
  position: relative;
  left: -200%;
  top: 0;

  -webkit-transition: left .3s;
  -moz-transition: left .3s;
  -ms-transition: left .3s;
  -o-transition: left .3s;
  transition: left .3s;
}

.navigation_list.on{
  left: 0;
}

.navigation_item {
  margin-bottom: 2rem;
}

.navigation_item > a {
  color: var(--color-black);
  font-size: var(--font-medium);
  font-weight: var(--fweight-extra-bold);
}


/* main */

.main_background {
  background: linear-gradient(135deg, rgba(0,0,0,1) 65%, rgba(0,0,0,0));
  width: 100%;
  height: 100vh;
  position: relative;
}

.slide {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
  user-select: none;
  opacity: 0.5;
}

.slide_img {
  position: relative;
  left: 0px;
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  transition: left 0.25s;
}

.slide_img.main1 {
  background: url(./images/main/main.webp) 0 100% no-repeat;
  background-size: cover;
}

.slide_img.main2 {
  background: url(./images/main/main2.webp) 50% 0 no-repeat;
  background-size: cover;
}

.slide_img.main3 {
  background: url(./images/main/main3.webp) 50% 0 no-repeat;
  background-size: cover;
}

.slide_img.main4 {
  background: url(./images/main/main4.webp) 50% 0 no-repeat;
  background-size: cover;
}

.main_pagination {
  position: absolute;
  left: 10%;
  bottom: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_pagination .counterbox span{
  font-weight: var(--fweight-thin);
  color: var(--color-white);
}

.main_pagination .counterbox .current_number {
  font-weight: var(--fweight-bold);
  font-size: 3.5rem;
  margin-right: 0.8rem;
}

.main_pagination .counterbox .total_number {
  font-size: 1.9rem;
}

.slide_arrow_left {
  background: url(./images/arrow_icon_left_white.png) 0 0 no-repeat;
  background-size: cover;
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 3.5rem;
  cursor: pointer;
}

.slide_arrow_right {
  background: url(././images/arrow_icon_right_white.png) 0 0 no-repeat;
  background-size: cover;
  width: 2.2rem;
  height: 2.2rem;
  margin-left: 3.5rem;
  cursor: pointer;
}



/* date */

.date {
  transform: translateY(-2.5rem);
  padding: 2rem 1.7rem;
  background-color: white;
  border-radius: var(--size-border-radius-40);
  border: 1px solid #CBCBCB;
}
.date.on {
  position: relative;
  z-index: 40;
}

.date_select_bar {
  display: flex;
  justify-content: space-between;
}

.date_select_bar_option {
  display: flex;
}

.date_select_bar_option.left {
  flex-direction: column;
  align-items: flex-start;
  width: 43%;
}

.date_select_bar_option.right {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 55%;
}

.date_select_bar_option_box {
  display: flex;
  flex-direction: column;
}

.date_select_bar_option.right .date_select_bar_option_box {
  margin-right: 2rem;
}

.date_select_bar_option_title {
  font-weight: var(--fweight-light);
  color: var(--color-dark-gray);
  margin-bottom: 0.3rem;
}

.date_select_bar_option_input {
  border: 1px solid #CBCBCB;
  padding: 0.3rem 0.625rem;
  border-radius: 10px;
  width: 100%;
}

.date_select_bar_option_input::placeholder {
  color: #cbcbcb;
  font-weight: var(--fweight-extra-light);
}

.date_select_bar_option_date {
  border: 1px solid #CBCBCB;
  padding: 0.35rem 0.625rem;
  border-radius: 10px;
  color: var(--color-light-black);
  font-weight: var(--fweight-extra-light);
  font-size: var(--font-small);
  width: 100%;
}

.date_select_bar_option_btn {
  background-color: var(--color-light-gray);
  border-radius: var(--size-border-radius-20);
  color: var(--color-btn-letter-gray);
  font-weight: var(--fweight-extra-light);
  font-size: var(--font-small);
  padding: 0 1rem;
  height: 3rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
} 

.date_btn_find {
  background-color: var(--color-blue);
  color: var(--color-white);
  font-size: var(--font-small);
  font-weight: var(--fweight-extra-light);
  padding: 0.75rem 1.563rem;
  border-radius: var(--size-border-radius-20);
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 0.4rem;
}

.date_btn_find_icon {
  background: url(./images/search_icon.png) 0 0 no-repeat;
  background-size: cover;
  width: 0.938rem;
  height: 0.938rem;
  margin-right: 0.5rem;
}


/* country */

.country {
  margin-top: 6rem;
  display: flex;
  flex-flow: column;
}

.country_box {
  display: flex;
  height: 10rem;
}

.country_box_arrow_left{
  background: url(./images/arrow_icon_left_gray.png) 0 0 no-repeat;
  width: 2.3rem;
  height: 2.3rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 1rem;
}

.country_box_arrow_right {
  background: url(./images/arrow_icon_right_gray.png) 0 0 no-repeat;
  width: 2.3rem;
  height: 2.3rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 1rem;
}

.country_box_container {
  width: 90%;
  overflow: hidden;
  position: relative;
}

.country_box_list {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.country_box_list.animated {
  transition: 0.5s ease-out;
}

.country_box_list_country {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.1rem 1.2rem 0;
  width: 7.5rem;
}

.country_box_list_country:not(:last-child) {
  margin-right: 1.1rem;
}

.country_box_list_circle {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-bottom: 0.938rem;
}

.country_box_list_circle.japan {
  background: url(./images/country/japan.jpg) 0 0 no-repeat;
  background-size: cover;
}

.country_box_list_circle.korea {
  background: url(./images/country/korea.jpg) 50% 0 no-repeat;
  background-size: cover;
}

.country_box_list_circle.uk {
  background: url(./images/country/uk.jpg) 60% 60% no-repeat;
  background-size: cover;
}

.country_box_list_circle.usa {
  background: url(./images/country/usa.jpg) 45% 0 no-repeat;
  background-size: cover;
}

.country_box_list_circle.thailand {
  background: url(./images/country/thailand.jpg) 0 50% no-repeat;
  background-size: cover;
}

.country_box_list_circle.vietnam {
  background: url(./images/country/vietnam.jpg) 50% 0 no-repeat;
  background-size: cover;
}

.country_box_list_circle.france {
  background: url(./images/country/france.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.country_box_list_circle.swiss {
  background: url(./images/country/swiss.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.country_box_list_circle.turkey {
  background: url(./images/country/turkey.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.country_box_list_circle.canada {
  background: url(./images/country/canada.jpg) 50% 50% no-repeat;
  background-size: cover;
}


.country_box_list_txt {
  font-size: var(--font-small);
  font-weight: var(--fweight-light);
  color: #3C3C3C;
}

.country_more_btn {
  font-weight: var(--fweight-light);
  border: 1px solid var(--color-btn-gray);
  color: var(--color-btn-letter-gray);
  border-radius: 30px;
  padding: 0.625rem 1.875rem;
  font-weight: var(--fweight-light);
  width: fit-conent;
  margin: 1.5rem auto 0;
}


/* stay_information */

.stay_information {
  margin-top: 15rem;
}

.stay_information_box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13rem;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}
.stay_information_box.active {
  opacity: 1;
  transform: translateY(0px);
}

.stay_information_box_img {
  width: 49%;
  height: 14em;
}

.stay_information_box_img.boutique {
  background : url(./images/stays/boutique.jpg) 100% 50% no-repeat;
  background-size: cover;
}

.stay_information_box_img.pool {
  background : url(./images/stays/pool.jpg) 100% 70% no-repeat;
  background-size: cover;
}

.stay_information_box_img.newhotel {
  background : url(./images/stays/newhotel.jpg) 50% 85% no-repeat;
  background-size: cover;
}

.stay_information_box_img.beach {
  background : url(./images/stays/beach.jpg) 100% 40% no-repeat;
  background-size: cover;
}

.stay_information_box_txt {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stay_information_box:nth-child(3) .stay_information_box_txt,
.stay_information_box:last-child .stay_information_box_txt {
  align-items: flex-end;
}

.stay_information_box_txt_btn {
  text-align: left;
}

.stay_information_box:nth-child(3) .stay_information_box_txt > p,
.stay_information_box:last-child .stay_information_box_txt > p{
  text-align: right;
}

.stay_information_box_txt_title {
  font-size: var(--font-medium);
  margin-bottom: 0.7rem;
}

.stay_information_box_txt_contxt {
  font-weight: var(--fweight-light);
  margin-bottom: 2rem;
  margin-top: 0;
}

.stay_information_box_txt_btn {
  font-weight: var(--fweight-extra-light);
  text-decoration: underline;
}


/* hotel_information */

.hotel_information {
  background-color: #f1f1f1;
  margin-top: 15rem;
}

.hotel_information h2 {
  padding-top: 5rem;
}

.hotel_information_slideshow {
  position: relative;
  padding-bottom: 10rem;
}

.hotel_information_slideshow_arrow_left {
  background: url(./images/arrow_icon_circle_left.png) 0 0 no-repeat;
  background-size: cover;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -3%;
  z-index: 3;
  transform: translateY(-150%);
}

.hotel_information_slideshow_arrow_right {
  background: url(./images/arrow_icon_circle_right.png) 0 0 no-repeat;
  background-size: cover;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -2%;
  z-index: 3;
  transform: translateY(-150%);
}

.hotel_information_slideshow_box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50.4%);
}

.hotel_information_slideshow_slides {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: var(--size-border-radius-20);
}

.hotel_information_slideshow_slides_contxt {
  width: 100%;
  height: 20rem;
  flex: 0 0 100%;
  display: flex;
  border-radius: var(--size-border-radius-20);
  position: relative;
  left: 0;
  transition: all 0.3s ease-out;
  margin: 0 0.01rem;
}
.hotel_information_slideshow_pagination {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.hotel_information_slideshow_pagination > li{
  color: #807e7e;
  cursor: pointer;
  font-size: 1.8rem;
  margin-right: 0.3rem;
}
.hotel_information_slideshow_pagination > li:last-child {
  margin-right: 0;
}

.hotel_information_slideshow_pagination > li.active {
  color: var(--color-blue);
}

.hotel_information_slideshow_slides_contxt_img {
  width: 50%;
  border-top-left-radius: var(--size-border-radius-20);
  border-bottom-left-radius: var(--size-border-radius-20);
}

.hotel_information_slideshow_slides_contxt_img.connectingroom{
  background: url(./images/hotelInfo/connectingroom.jpg) 50% 100% no-repeat;
  background-size: cover;
}
.hotel_information_slideshow_slides_contxt_img.pet-friendly{
  background: url(./images/hotelInfo/pet-friendly.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.hotel_information_slideshow_slides_contxt_img.membership-honor{
  background: url(./images/hotelInfo/membershiphonor.jpg) 120% 75% no-repeat;
  background-size: cover;
}
.hotel_information_slideshow_slides_contxt_img.usingapp{
  background: url(./images/hotelInfo/usingapp.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.hotel_information_slideshow_slides_contxt_txt {
  width: 50%;
  background-color: var(--color-white);
  border-top-right-radius: var(--size-border-radius-20);
  border-bottom-right-radius: var(--size-border-radius-20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
}

.hotel_information_slideshow_slides_contxt_txt_title {
  font-size: var(--font-medium);
  font-weight: var(--fweight-semi-bold);
  margin-bottom: 0.6rem;
}

.hotel_information_slideshow_slides_contxt_txt_contxt {
  font-size: var(--font-regular-big);
  font-weight: var(--fweight-light);
  margin-top: 0;
  margin-bottom: 2rem;
  word-break: keep-all;
}

.hotel_information_slideshow_slides_contxt_txt_btn {
  display: flex;
  cursor: pointer;
  width: fit-content;
}

.hotel_information_slideshow_slides_contxt_txt_btn_txt {
  font-weight: var(--fweight-light);
  font-size: var(--font-regular);
}

.hotel_information_slideshow_slides_contxt_txt_btn_arrow {
  background: url(./images/book_arrow.png) 0 0 no-repeat;
  background-size: cover;
  width: 0.9rem;
  height: 0.37rem;
  margin-left: 5px;
  margin-top: 8px;
}


/* hotel_list */

.hotel_list {
  margin-top: 15rem;
  width: 100%;
  overflow-x: hidden;
}

.hotel_list_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5rem;
  margin-top: 0;
  transform: translate(0, 0);
}

.hotel_list_container:nth-child(2),
.hotel_list_container:last-child {
  padding-left: 10rem;
}

.hotel_list_container:nth-child(3) {
  padding-right: 10rem;
}

.hotel_list_box {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  user-select: none;
  cursor: pointer;
}

.hotel_list_box_img {
  width: 21.25rem;
  height: 12.5rem;
  -webkit-user-drag: none;
}

.hotel_list_box_img.vietnam {
  background: url(./images/hotelList/vietnam.jpg) 0 100% no-repeat;
  background-size: cover;
}

.hotel_list_box_img.florida {
  background: url(./images/hotelList/florida.jpg) 0 100% no-repeat;
  background-size: cover;
}

.hotel_list_box_img.thailand {
  background: url(./images/hotelList/thailand.jpg) 0 100% no-repeat;
  background-size: cover;
}

.hotel_list_box_img.aruba {
  background: url(./images/hotelList/aruba.jpg) 50% 100% no-repeat;
  background-size: cover;
}

.hotel_list_box_img.marta {
  background: url(./images/hotelList/marta.jpg) 0 0 no-repeat;
  background-size: cover;
}

.hotel_list_box_img.bali {
  background: url(./images/hotelList/bali.jpg) 0 0 no-repeat;
  background-size: cover;
}

.hotel_list_box_img.mexico {
  background: url(./images/hotelList/mexico.jpg) 0 0 no-repeat;
  background-size: cover;
}

.hotel_list_box_img.greece {
  background: url(./images/hotelList/greece.jpg) 0 0 no-repeat;
  background-size: cover;
}

.hotel_list_box_img.newyork {
  background: url(./images/hotelList/newyork.jpg) 0 0 no-repeat;
  background-size: cover;
}

.hotel_list_box_img.brazil {
  background: url(./images/hotelList/brazil.jpg) 0 0 no-repeat;
  background-size: cover;
}

.hotel_list_box_img.uk {
  background: url(./images/hotelList/uk.jpg) 0 0 no-repeat;
  background-size: cover;
}

.hotel_list_box_img.kenya {
  background: url(./images/hotelList/kenya.jpg) 0 0 no-repeat;
  background-size: cover;
}

.hotel_list_box_img.newmexico {
  background: url(./images/hotelList/new_mexico.jpg) 0 0 no-repeat;
  background-size: cover;
}

.hotel_list_box_img.turkey {
  background: url(./images/hotelList/turkey.jpg) 0 0 no-repeat;
  background-size: cover;
}

.hotel_list_box_img.malaysia {
  background: url(./images/hotelList/malaysia.jpg) 0 0 no-repeat;
  background-size: cover;
}

.hotel_list_box_title {
  font-weight: var(--fweight-light);
  font-size: var(--font-regular-big);
  margin: 1rem 0 0.5rem;
}

.hotel_list_box_address {
  display: flex;
  position: relative;
  margin-top: 0.3rem;
}

.hotel_list_box_address_icon {
  background: url(./images/location.png) 0 0 no-repeat;
  background-size: contain;
  width: 15px;
  height: 17px;
  margin-right: 6px;
}

.hotel_list_box_address_name {
  font-weight: var(--fweight-extra-light);
  color: #9F9F9F;
  font-size: var(--font-small);
  margin: 0;
}


/* hotel join */

.hotel_join {
  margin-top: 15rem;
}

.hotel_join_box {
  display: flex;
  width: 100%;
  position: relative;
}

.hotel_join_box_img {
  background: url(./images/joinapp.jpg) 0 0 no-repeat;
  background-size: cover;
  width: 50%;
  height: cal(width + 20%);
}

.hotel_join_box_txt {
  width: 50%;
}

.hotel_join_box_txt_title {
  font-size: var(--font-large);
  font-weight: var(--fweight-extra-bold);
  position: relative;
  top: 5%;
  left: -25%;
}

.hotel_join_box_txt_contxt {
  font-size: var(--font-middle);
  font-weight: var(--fweight-light);
  margin-top: 2.5rem;
  margin-left: 3.75rem;
}

.hotel_join_box_btn {
  font-size: var(--font-regular);
  font-weight: var(--fweight-light);
  border: 1px solid var(--color-btn-gray);
  color: var(--color-btn-letter-gray);
  border-radius: 30px;
  padding: 0.625rem 2.875rem;
  margin-top: 1.8rem;
  margin-left: 3.75rem;
}


/* footer */

.footer {
  margin-top: 20rem;
  background-color: #f3f3f3;
  color: #6c6c6c
}

.footer .inner {
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
}

.footer_contact_box {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.footer_contact_box_txt {
  font-size: var(--font-regular-big);
}

.footer_contact_box_txt.title {
  font-weight: var(--fweight-light);
}

.footer_contact_box_txt.number {
  font-weight: var(--fweight-semi-bold);
}

.footer_contact_box_sns {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

.footer_contact_box_sns_btn {
  width: 30px;
  height: 30px;
  transition: transform var(--animation-duration) ease-in;
}

.footer_contact_box_sns_btn:hover {
  transform: scale(1.2);
}

.footer_contact_box_sns_btn.fb {
  background: url(./images/fb_icon.png) 0 0 no-repeat;
  background-size: cover;
}

.footer_contact_box_sns_btn.insta {
  background: url(./images/insta_icon.png) 0 0 no-repeat;
  background-size: cover;
  margin: 0 1rem;
}

.footer_contact_box_sns_btn.twitter {
  background: url(./images/twitter_icon.png) 0 0 no-repeat;
  background-size: cover;
}


.footer_menu {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.footer_menu_sub {
  display: flex;
  flex-direction: column;
}

.footer_menu_sub:first-child {
  margin-right: 2rem;
}

.footer_menu_txt {
  margin-bottom: 1rem;
  width: fit-content;
}

.footer_menu_txt {
  color: #859eae;
  font-weight: var(--fweight-extra-light);
  font-size: var(--font-small);
}

.footer_copyright {
  display: block;
  text-align: center;
  padding: 5rem 0 1rem;
  font-weight: var(--fweight-extra-light);
  font-size: var(--font-small);
}




/* Responsive */

@media screen and (max-width: 1420px) {

  /* date */

  .date_select_bar {
    flex-direction: column;
    justify-content: flex-start;
  }

  .date_select_bar_option.left {
    width: 100%;
    margin-bottom: 1.3rem;
  }

  .date_select_bar_option.right {
    width: 100%;
    margin-bottom: 0.3rem;
  }

  .date_select_bar_option_box {
    width: 45%;
  }

  .date_select_bar_option.right .date_select_bar_option_box {
    margin-bottom: 0.8rem;
  }

  /* main */

  .main_background {
    height: 90vh;
  }

  .slide {
    height: inherit;
  }


}


@media screen and (max-width: 768px) {

  :root {
     /* Font Size */
  --font-large: 30px;
  --font-medium: 22px;
  --font-middle: 18px;
  --font-regular-big: 16px;
  --font-regular: 14px;
  --font-small: 12px;
  --font-micro: 10px;
  }

  /* global */

  .inner {
    width: 88%;
  }
  h2.title {
    font-size: 25px;
  }

  /* header */

  .header_logo {
    margin-top: 0.8rem;
  }

  .menu-bar {
    width: 1.7rem;
    margin-bottom: 6px;
  }

  .arrange_location{
    width: 1.7rem;
    height: 1.7rem;
  }

  /* main */
  
  .main_background {
    height: 80vh;
  }

  .main_pagination {
    bottom: 15%;
  }

  .slide_arrow_left {
    width: 2rem;
    height: 2rem;
    margin-right: 2.5rem;
  }

  .slide_arrow_right {
    width: 2rme;
    height: 2rem;
    margin-left: 2.5rem;
  }

  .main_pagination .counterbox .current_number {
    font-size: 3rem;
  }

  .main_pagination .counterbox .total_number {
    font-size: 1.65rem;
  }

  /* date */

  .date_select_bar_option_box {
    width: 100%;
  }

  .date_select_bar_option.right .date_select_bar_option_box {
    margin-right: 0;
  }

  .date_select_bar_option_date {
    font-size: var(--font-regular);
  }

  .date_btn_find {
    margin-top: 1rem;
  }


  /* country */

  .country {
    margin-top: 5rem;
  }

  .country_box_arrow_left,
  .country_box_arrow_right {
    width: 2.6rem;
  }


  /* stay */
  .stay_information {
    margin-top: 10rem;
  }

  .stay_information_box {
    margin-bottom: 7rem;
  }

  .stay_information_box_img {
    height: 13rem;
  }


  .stay_information_box_txt_title {
    font-size: 18px;
    font-weight: var(--fweight-semi-bold);
  }
  
  .stay_information_box_txt_contxt {
    font-size: 14px;
    margin-bottom: 1.3rem;
  } 

  .stay_information_box_txt {
    margin: 0 15px;
  }

  /* hotel_info */

  .hotel_information {
    margin-top: 10rem;
  }

  .hotel_information h2 {
    margin-top: 4rem;
  }

  .hotel_information_slideshow_slides_contxt {
    width: 90%;
    height: 27rem;
  }

  .hotel_information_slideshow_slides_contxt_txt {
    padding: 0 1.5rem;
  }


  /* footer */

  .footer {
    margin-top: 13rem;
  }

  .footer .inner {
    flex-direction: column;
    align-items: center;
  }

  .footer_contact_box {
    width: 100%;
    align-items: center;
    margin-bottom: 5rem;
  }

  .footer_contact_box_sns_btn.fb {
    width: 27px;
    height: 27px;
    margin-right: 5px;
  }

  .footer_menu_sub:first-child {
    margin-right: 3rem;
  }

}


@media screen and (max-width: 500px) {

  /* header */

  .arrange_location {
    margin: 1.5rem;
  }

  .navigation{
    top: 1.5rem;
    left: 1.5rem;
  }

  .navigation_list {
    padding-right: 6rem;
  }

  .header_simple_menu {
    margin-top: 1.5rem;
    margin-right: 1.5rem;
  }

  /* hotel_info */

  .hotel_information_slideshow_slides_contxt_img.usingapp{
    background: url(./images/hotelInfo/usingapp.jpg) 80% 80% no-repeat;
  }
  .hotel_information_slideshow_slides_contxt_img.membership-honor {
    background: url(./images/hotelInfo/membershiphonor.jpg) 63% 65% no-repeat;
  }
  
  .hotel_information_slideshow_arrow_left {
    width: 3.5rem;
    height: 3.5rem;
    left: -6%;
  }

  .hotel_information_slideshow_arrow_right {
    width: 3.2rem;
    height: 3.2rem;
    right: -6%;
  }

  .hotel_information_slideshow_slides_contxt_txt_title {
    font-size: 20px;
  }

  .hotel_information_slideshow {
    padding-bottom: 8rem;
  }

  .hotel_list {
    margin-top: 10rem;
  }

  .hotel_list_container:nth-child(2), .hotel_list_container:last-child {
    padding-left: 1rem;
  }

  .hotel_list_box_img {
    width: 18rem;
    height: 11.5rem;
  }

  .hotel_list_box_title {
    font-size: var(--font-regular);
  }

  .hotel_list_box_address_icon {
    width: 15px;
    height: 17px;
  }

  /* hotel join */

  .hotel_join {
    margin-top: 8rem;
  }

  .hotel_join_box_img {
    background: url(./images/joinapp.jpg) 30% 30% no-repeat;
    background-size: inherit;
  }

  .hotel_join_box_txt_title {
    font-size: 23px;
    left: -20%;
  }

  .hotel_join_box_txt_contxt {
    font-size: var(--font-regular);
    margin-left: 1rem;
  }

   /* country */
    .country_box_arrow_right {
    width: 3rem;
    margin-left: 0.5rem;
  }
}
