/* Import */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap');



/* Global */

:root {

  /* Color */
  --color-white: #fff;
  --color-dark-white: #F8F8F8;
  --color-blue : #71BDCE;
  --color-black: #000;
  --color-light-black: #212121;
  --color-gray: #646464;
  --color-dark-gray: #3D3D3D;
  --color-light-gray: #F0F0F0;
  --color-btn-gray: #CECECE;
  --color-btn-letter-gray: #999;
  --color-location-gray: #C8DEDE;
  --color-dark-blue: #101244;


  /* Font Size */
  --font-large: 40px;
  --font-medium: 28px;
  --font-middle: 20px;

  --font-regular-big: 18px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;


  /* Font weight */
  --fweight-black: 900;
  --fweight-extra-bold: 800;
  --fweight-bold: 700;
  --fweight-semi-bold: 600;
  --fweight-medium: 500;
  --fweight-regular: 400;
  --fweight-light: 300;
  --fweight-extra-light: 200;


  /* Size */
  --size-border-radius-40: 40px;
  --size-border-radius-20 : 20px;


  /* Animation */ 
  --animation-duration: 300ms;


}


/* Universal tags */

* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  font-size: var(--font-regular);
}

body {
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  width: fit-content;
}

.inner {
  width: 78%;
  height: inherit;
  margin: 0 auto;
}


/* Typography */

h2.title {
  font-size: var(--font-large);
  font-weight: var(--fweight-semi-bold);
  color: var(--color-light-black);
  margin-bottom: 2.75rem;
}


/* header */

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 5;

}

.header_logo {
  background: url(./images/hilton_logo1.png) 0 0 no-repeat;
  background-size: cover;
  width: 7rem;
  height: 3rem;
  margin-top: 1.25rem;
}

.header_simple_menu {
  margin-top: 2rem;
  margin-right: 2rem;
}

.header_simple_menu_btn {
  color: var(--color-white);
  font-weight: var(--fweight-light);
}

.header_simple_menu_btn:first-child {
  margin-right: 1rem;
}


/* header navigation */

.navigation {
  position: relative;
  z-index: 10;
  left: 0;
  top: 0;
  padding: 2rem 5rem;
  height: 70vh;
  background-color: var(--color-white);
  display: none;
}

.navigation_icon {
  cursor: pointer;
  background: url(./images/menu_icon.png) 0 0 no-repeat;
  background-size: cover;
  width: 2rem;
  height: 2rem;
  margin-top: 1.25rem;
  margin-left: 2rem;
  /* display: none; */
}


/* main */

.main_background {
  background: linear-gradient(135deg, rgba(0,0,0,1) 65%, rgba(0,0,0,0));
  width: 100%;
  height: 100vh;
  position: relative;
}

.main {
  background: url(./images/main.png) 0 100% no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  opacity: .55;
}
.main_background .inner {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main_pagination {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_pagination .counterbox span{
  font-weight: var(--fweight-thin);
  color: var(--color-white);
}

.main_pagination .counterbox .current_number {
  font-weight: var(--fweight-bold);
  font-size: 3.5rem;
  margin-right: 0.8rem;
}

.main_pagination .counterbox .total_number {
  font-size: 1.9rem;
}

.main_pagination .arrow_left {
  background: url(./images/arrow_icon_left_white.png) 0 0 no-repeat;
  background-size: cover;
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 3.5rem;
  cursor: pointer;
}

.main_pagination .arrow_right {
  background: url(././images/arrow_icon_right_white.png) 0 0 no-repeat;
  background-size: cover;
  width: 2.2rem;
  height: 2.2rem;
  margin-left: 3.5rem;
  cursor: pointer;
}


/* date */

.date {
  transform: translateY(-2.5rem);
  padding: 2rem 1.7rem;
  background-color: white;
  border-radius: var(--size-border-radius-40);
  border: 1px solid #CBCBCB;
}

.date_select_bar {
  display: flex;
  justify-content: space-between;
}

.date_select_bar_option {
  display: flex;
}

.date_select_bar_option.left {
  flex-direction: column;
  align-items: flex-start;
  width: 49%;
}

.date_select_bar_option.right {
  flex-direction: row;
  align-items: center;
  width: 49%;
  justify-content: space-between;
}

.date_select_bar_option_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.5rem;
}

.date_select_bar_option_title {
  font-weight: var(--fweight-light);
  color: var(--color-dark-gray);
  margin-bottom: 0.3rem;
  text-align: center;
}

.date_select_bar_option_input {
  border: 1px solid #CBCBCB;
  padding: 0.3rem 0.625rem;
  border-radius: 10px;
  width: 100%;
}

.date_select_bar_option_input::placeholder {
  color: #cbcbcb;
  font-weight: var(--fweight-extra-light);
}

.date_select_bar_option_btn {
  background-color: var(--color-light-gray);
  padding: 0.625rem 0.7rem;
  border-radius: var(--size-border-radius-20);
  color: var(--color-btn-letter-gray);
  font-weight: var(--fweight-extra-light);
  font-size: var(--font-small);
}

.date_select_bar_option_btn.bigbtn {
  padding: 0 0.7rem;
  height: 3rem;
  margin-right: 0.5rem;
} 

.date_btn_find {
  background-color: var(--color-blue);
  color: var(--color-white);
  font-size: var(--font-small);
  font-weight: var(--fweight-extra-light);
  padding: 0.75rem 1.563rem;
  border-radius: var(--size-border-radius-20);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.date_btn_find_icon {
  background: url(./images/search_icon.png) 0 0 no-repeat;
  background-size: cover;
  width: 0.938rem;
  height: 0.938rem;
  margin-right: 0.5rem;
}


/* country */

.country {
  margin-top: 5rem;
  display: flex;
  flex-flow: column;
}

.country_box {
  display: flex;
}

.country_box_arrow_left{
  background: url(./images/arrow_icon_left_gray.png) 0 0 no-repeat;
  width: 2.3rem;
  height: 2.3rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.country_box_arrow_right {
  background: url(./images/arrow_icon_right_gray.png) 0 0 no-repeat;
  width: 2.3rem;
  height: 2.3rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.country_box_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.country_box_list_country {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.2rem;
}

.country_box_list_circle {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-bottom: 0.938rem;
}

.country_box_list_circle.japan {
  background: url(./images/japan.jpg) 0 0 no-repeat;
  background-size: cover;
}

.country_box_list_circle.korea {
  background: url(./images/korea.jpg) 50% 0 no-repeat;
  background-size: cover;
}

.country_box_list_circle.uk {
  background: url(./images/uk.jpg) 60% 60% no-repeat;
  background-size: cover;
}

.country_box_list_circle.usa {
  background: url(./images/usa.jpg) 45% 0 no-repeat;
  background-size: cover;
}

.country_box_list_circle.thailand {
  background: url(./images/thailand.jpg) 0 50% no-repeat;
  background-size: cover;
}

.country_box_list_circle.vietnam {
  background: url(./images/vietnam.jpg) 50% 0 no-repeat;
  background-size: cover;
}

.country_box_list_circle.france {
  background: url(./images/france.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.country_box_list_txt {
  font-size: var(--font-small);
  font-weight: var(--fweight-light);
  color: #3C3C3C;
}

.country_more_btn {
  font-weight: var(--fweight-light);
  border: 1px solid var(--color-btn-gray);
  color: var(--color-btn-letter-gray);
  border-radius: 30px;
  padding: 0.625rem 1.875rem;
  font-weight: var(--fweight-light);
  width: fit-conent;
  margin: 1.5rem auto 0;
}


/* stay_information */

.stay_information {
  margin-top: 10rem;
}

.stay_information_box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11rem;
}

.stay_information_box_img {
  width: 49%;
  height: 14em;
}

.stay_information_box_img.boutique {
  background : url(./images/boutique.jpg) 100% 50% no-repeat;
  background-size: cover;
}

.stay_information_box_img.pool {
  background : url(./images/pool.jpg) 100% 70% no-repeat;
  background-size: cover;
}

.stay_information_box_img.pet {
  background : url(./images/pet.jpg) 100% 70% no-repeat;
  background-size: cover;
}

.stay_information_box_img.beach {
  background : url(./images/beach.jpg) 100% 40% no-repeat;
  background-size: cover;
}

.stay_information_box_txt {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stay_information_box:nth-child(3) .stay_information_box_txt,
.stay_information_box:last-child .stay_information_box_txt {
  align-items: flex-end;
}

.stay_information_box_txt_btn {
  text-align: left;
}

.stay_information_box:nth-child(3) .stay_information_box_txt > p,
.stay_information_box:last-child .stay_information_box_txt > p{
  text-align: right;
}

.stay_information_box_txt_title {
  font-size: var(--font-medium);
  margin-bottom: 0.7rem;
}

.stay_information_box_txt_contxt {
  font-weight: var(--fweight-light);
  margin-bottom: 2rem;
  margin-top: 0;
}

.stay_information_box_txt_btn {
  font-weight: var(--fweight-extra-light);
  text-decoration: underline;
}


/* hotel_information */

.hotel_information {
  background-color: var(--color-dark-white);
  margin-top: 10rem;
}

.hotel_information h2 {
  padding-top: 5rem;
}

.hotel_information_box {
  display: flex;
  align-items: center;
  padding-bottom: 10rem;
  position: relative;
}

.hotel_information_box_arrow_left {
  background: url(./images/arrow_icon_circle_left.png) 0 0 no-repeat;
  background-size: cover;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -3%;
  z-index: 1;
  transform: translateY(-150%);
}

.hotel_information_box_arrow_right {
  background: url(./images/arrow_icon_circle_right.png) 0 0 no-repeat;
  background-size: cover;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -3%;
  z-index: 1;
  transform: translateY(-150%);
}

.hotel_information_box_contxt {
  width: 100%;
  height: 20rem;
  display: flex;
  border-radius: var(--size-border-radius-20);
}

.hotel_information_box_contxt_img {
  width: 50%;
  border-top-left-radius: var(--size-border-radius-20);
  border-bottom-left-radius: var(--size-border-radius-20);
}

.hotel_information_box_contxt_img.connectingroom{
  background: url(./images/connectingroom.jpg) 50% 100% no-repeat;
  background-size: cover;
}

.hotel_information_box_contxt_txt {
  width: 50%;
  background-color: var(--color-white);
  border-top-right-radius: var(--size-border-radius-20);
  border-bottom-right-radius: var(--size-border-radius-20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
}

.hotel_information_box_txt_title {
  font-size: var(--font-medium);
  font-weight: var(--fweight-semi-bold);
  margin-bottom: 0.6rem;
}

.hotel_information_box_txt_contxt {
  font-size: var(--font-regular-big);
  font-weight: var(--fweight-light);
  margin-top: 0;
  margin-bottom: 2rem;
}

.hotel_information_box_txt_btn {
  display: flex;
  cursor: pointer;
  width: fit-content;
}

.hotel_information_box_txt_btn_txt {
  font-weight: var(--fweight-light);
  font-size: var(--font-regular);
}

.hotel_information_box_txt_btn_arrow {
  background: url(./images/book_arrow.png) 0 0 no-repeat;
  background-size: cover;
  width: 1rem;
  height: 0.45rem;
  margin-left: 5px;
  margin-top: 8px;
}


/* hotel_list */

.hotel_list {
  margin-top: 10rem;
}

.hotel_list_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  margin-bottom: 5rem;
  margin-top: 0;
}

.hotel_list_container:nth-child(2),
.hotel_list_container:last-child {
  padding-left: 10rem;
}

.hotel_list_container:nth-child(3) {
  padding-right: 10rem;
}

.hotel_list_box {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.hotel_list_box_img {
  width: 23.125rem;
  height: 14.375rem;
}

.hotel_list_box_img.vietnam {
  background: url(./images/vietnam.png) 0 100% no-repeat;
  background-size: cover;
}

.hotel_list_box_img.florida {
  background: url(./images/florida.png) 0 100% no-repeat;
  background-size: cover;
}

.hotel_list_box_img.thailand {
  background: url(./images/thailand.png) 0 100% no-repeat;
  background-size: cover;
}

.hotel_list_box_img.aruba {
  background: url(./images/aruba.png) 50% 100% no-repeat;
  background-size: cover;
}

.hotel_list_box_img.marta {
  background: url(./images/marta.png) 0 0 no-repeat;
  background-size: cover;
}

.hotel_list_box_img.bali {
  background: url(./images/bali.png) 0 0 no-repeat;
  background-size: cover;
}

.hotel_list_box_img.mexico {
  background: url(./images/mexico.png) 0 0 no-repeat;
  background-size: cover;
}

.hotel_list_box_img.greece {
  background: url(./images/greece.png) 0 0 no-repeat;
  background-size: cover;
}

.hotel_list_box_img.newyork {
  background: url(./images/newyork.png) 0 0 no-repeat;
  background-size: cover;
}

.hotel_list_box_img.brazil {
  background: url(./images/brazil.png) 0 0 no-repeat;
  background-size: cover;
}

.hotel_list_box_img.uk {
  background: url(./images/uk.png) 0 0 no-repeat;
  background-size: cover;
}

.hotel_list_box_img.kenya {
  background: url(./images/kenya.png) 0 0 no-repeat;
  background-size: cover;
}

.hotel_list_box_img.newmexico {
  background: url(./images/new_mexico.png) 0 0 no-repeat;
  background-size: cover;
}

.hotel_list_box_img.turkey {
  background: url(./images/turkey.png) 0 0 no-repeat;
  background-size: cover;
}

.hotel_list_box_img.malaysia {
  background: url(./images/malaysia.png) 0 0 no-repeat;
  background-size: cover;
}

.hotel_list_box_title {
  font-weight: var(--fweight-light);
  font-size: var(--font-middle);
  margin: 1rem 0 0.5rem;
}

.hotel_list_box_address {
  display: flex;
  position: relative;
  margin-top: 0.3rem;
}

.hotel_list_box_address_icon {
  background: url(./images/location.png) 0 0 no-repeat;
  background-size: contain;
  width: 15px;
  height: 17px;
  margin-right: 6px;
}

.hotel_list_box_address_name {
  font-weight: var(--fweight-extra-light);
  color: #9F9F9F;
  font-size: var(--font-small);
  margin: 0;
}


/* hotel join */

.hotel_join {
  margin-top: 10rem;
}

.hotel_join_box {
  display: flex;
  width: 100%;
}

.hotel_join_box_img {
  background: url(./images/join_img.png) 0 0 no-repeat;
  background-size: cover;
  width: 50%;
  height: cal(width + 20%);
}

.hotel_join_box_txt {
  width: 50%;
}